.title2{
    text-align: center;
}

.title{
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #4dfa08, 0 0 30px #41ff08, 0 0 40px #01f75f,
    0 0 50px #2bff00, 0 0 60px #05ff05, 0 0 70px #00ff00;
}