body {
  background-color: black;
  /* background-image: url(https://cdna.artstation.com/p/assets/images/images/022/387/914/original/caleb-barefoot-kiki-s-delivery.gif?1575265179); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(235, 235, 235);
}

a{
  text-decoration: none;
  color: white;
}